/* @import url(reset.css); */

body{
    box-sizing: content-box;
width: 100%;
/* background-color: rgb(18,38,102); */
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    color: white;
    /* background: rgb(18,38,102); */
    background: url(img/DPI_Aerial-OPT3-1.jpeg), rgb(18,38,102);
    display: flex;
    justify-content: center;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
  min-height: 100%;
  position: relative;
  margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 650px; */
    width: 1200px;
    padding-top: 6em;
    padding-bottom: 15em;
    position: relative;
    
}

.card-container{
    background: rgba(18, 38, 102, 0.881);
    padding: 2em;
    text-align: ;
    max-width: 750px;
    /* height: 550px; */
    border-top: 5px solid #75c751;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.546);
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.top-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.top-card img{
    max-width: 250px;
    align-items: center;
}
.container h1{
    font-size: 3em;
    margin: 0;
}
.fund-section, .fund-section-top{
    border-bottom: 1px solid #74c7513f;
    
}
.fund-section{
    padding-bottom: 1.5em;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.button{
    justify-content: center;
    background-color: #75c751;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #75c751;
}
.button:hover{
    border: 2px solid white;
}
footer{
    /* margin-top: 80px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgb(42, 42, 42); */
    background: rgb(18,38,102);
    height: auto;
    width: 100vw;
    padding-top: 10px;
    /* border-top: 1px solid rgb(202, 202, 202); */
    /* margin-bottom: -2em; */
    color: #fff;
    /* box-shadow: 10px 0px 30px 1px rgba(0, 0, 0, 0.546); */

}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.right-footer{
    font-size: smaller;
    padding-left: 15px;
}
.left-footer{
    padding-right: 15px;
}
.logo-footer img{
    max-width: 260px;
}